defaults:
	{}

childViews:
	append: [
		widget: 'buzz-list'
		dataModel: dataModel
		childViews:
			repeat: [
				widget: 'buzz-anchor'
				dataModel: '$parent'
				bindings: 'bindings/buzz-anchor/list'
				childViews:
					append:[
						widget: 'buzz-image'
						dataModel: '$parent'
						bindings: 'bindings/buzz-image/list'
					]
			]
	]
