defaults:
	{}

childViews:
	append: [
		widget: 'new-list'
		dataModel: dataModel
		childViews:
			repeat: [
				widgets:
					anchors:
						widget: 'anchor'
						dataModel: '$parent'
						bindings: 'list'
						childViews:
							append:[
								widget: 'image'
								dataModel: '$parent'
								bindings: 'list'
							]

			]
	]
